body {
    background-color: #FFF0E0;
}

div.page {
    min-width: 1000px;
    min-height: 500px;
}

a:link {
    color: #00A2FF;
    text-decoration:none
}

a:visited {
    color: #9932CC;
    text-decoration:none
}

a:hover {
    color: #00CED1;
    background-color:#FFE4C4;
    text-decoration: underline
}
